.todo-list {
  display: flex;
  flex-direction: column;
  width: 100%;
  border: 1px solid #e0e0e0;
  border-radius: 4px;
  overflow: hidden;
}

.todo-list .todo-item:last-child {
  border-bottom: none;
}
